<!DOCTYPE html>
<html>
  <head>
    <%include ./partial/head.ejs%>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0" />
    <meta charset="utf-8" />
  </head>
  <body>
    <div class="dashboard-main-wrapper">
      <div class="dashboard-header">
        <%include ./partial/header.ejs%>
      </div>
      <br>
      <br>
        <h1> JUST DO IT</h1> 
        <% if (session.loggedin) { %>
          Welcome, <%= session.username %>
        <% } %>
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <br><br><br><br><br>
        <div class="footer">
          <%include ./partial/footer.ejs%>
        </div>
        <!-- ============================================================== -->
        <!-- end footer -->
        <!-- ============================================================== -->
      </div>
      <!-- ============================================================== -->
      <!-- end wrapper  -->
      <!-- ============================================================== -->
    </div>
  </body>
</html>
