<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
<link href="/assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
<link rel="stylesheet" href="/assets/libs/css/style.css">
<link rel="stylesheet" href="/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
<link rel="stylesheet" href="/assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css">
<link rel="stylesheet" href="/assets/vendor/fonts/flag-icon-css/flag-icon.min.css">
<link rel="stylesheet" href="/assets/vendor/datepicker/tempusdominus-bootstrap-4.css">
<link rel="stylesheet" href="/assets/vendor/inputmask/css/inputmask.css">
<link rel="stylesheet" href="/assets/vendor/jquery/datatables.min.css">
<link rel="stylesheet" href="/assets/vendor/fonts/circular-std/style.css">
<!--
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
-->
<link rel="stylesheet" type="text/css" href="/assets/vendor/duallistbox/css/bootstrap-duallistbox.css">
<title>Ment</title>
