<nav class="navbar navbar-expand-lg bg-white fixed-top">
  <a class="navbar-brand" href="/study">Eazy Path</a>
  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto navbar-right-top">
    <li class="nav-item">
        <a
          class="nav-link"
          href="/easypath"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
          >Easypath</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          href="/study"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
          >스터디 찾기</a
        >
      </li>
      <!--
      <li class="nav-item">
        <a
          class="nav-link"
          href="../mypage"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
          >Mypage</a
        >
      </li>
    -->
      
      <li class="nav-item">
        <a class="nav-link" href="/signup" role="button" aria-haspopup="true" aria-expanded="false"
          >계정 생성
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/login" role="button" aria-haspopup="true" aria-expanded="false"
          >로그인
        </a>
      </li>

      <li class="nav-item">
        <a
          class="nav-link"
          href="/user/changeinfo"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
          >정보변경
        </a>
      </li>
    </ul>
  </div>
</nav>
